<div class="author">
  <h1 class="author__heading">Hi, I am Moonis</h1>
  <p class="author__body">I am a backend developer</p>
</div>

<img
  src="/img/man-looking-out.webp"
  alt="man looking out the window"
  class="hero-image"
  width="981"
  height="528"
/>

<section class="articles">
  <h2 class="articles__heading">Latest Blogs</h2>
  <ul class="article-ul">
    <li>
      <a href="#">
        <span>Blog Title</span>
        <span class="article-list__date">Date</span>
      </a>
    </li>
  </ul>
  <a href="#" class="pagination">&lt; View Older Blogs</a>
</section>
